<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{!to use partials, simply write ">", followed by the name of the partial files, followed by the class of the object we are passing to the partial}}
    {{>post-info post}}

  </li>
  {{/each}}
</ol>